Flask
requests-oauthlib
Flask-Dance
python-dotenv
Flask-Login
Flask-WTF
Flask-Cors
WTForms
xhtml2pdf==0.2.11
psycopg2-binary
Werkzeug
gunicorn
google-generativeai
Pillow
cloudinary

# extras importantes
email-validator
reportlab
html5lib
six