{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/gestion_detalle_producto.css') }}">
{% endblock %}

{% block contenido %}
<div class="detalle-container">
    <img src="{{ producto.imagen }}" alt="{{ producto.nombre }}">
    <div class="detalle-info">
        <h2>{{ producto.nombre }}</h2>
        <p class="descripcion">{{ producto.descripcion }}</p>

        
        <h4 class="categoria-titulo">Categoría</h4>
        <p class="categoria-texto">{{ producto.categoria }}</p>
        
        <h3>${{ producto.precio }}</h3>
        <form action="{{ url_for('agregar_al_carrito') }}" method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="nombre" value="{{ producto.nombre }}">
    <input type="hidden" name="precio" value="{{ producto.precio }}">
    <input type="hidden" name="imagen" value="{{ producto.imagen }}">
    <button type="submit" class="btn-comprar">Agregar al carrito</button>
</form>

    </div>
</div>

{% endblock %}
